/* Add a background color to the header element */

header {
    background-color: hsl(93, 100%, 66%);
}
/* Add a fun background color to the main element */
main {
    background-color: #0253f4;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
text-align: center;
color: black;
    
}

/* Make your p tag a different color and italic */
p {
    color: blue;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: 6px solid #f6ba06;
    height: 300px;
    width: 300px;
}
/* Change the font-family of your list */
li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Add a background color to the footer element */
footer {
    background-color: hsl(90, 50%, 98%);
}